@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: var(--font-urbanist), sans-serif;
}

.font-headline {
  font-family: var(--font-poppins), sans-serif;
}
